.card-title{
    color: black;
    margin-top: 0px;
    min-height: auto;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 3px;
    text-decoration: none;
}

.card-body{
    height: 125px !important;
}

.stats{
    color: black;
    display: inline-flex;
    font-size: 12px;
    line-height: 22px;
}

.stats>svg{
    top: 4px;
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 3px;
    margin-left: 3px;
}

.stats>.fab .stats.fas .stats.far .stats.fal .stats.material-icons{
    top: 4px;
    font-size: 16px;
    position: relative;
    margin-right: 3px;
    margin-left: 3px;
}