.sidebar-tab{
    color: white !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    text-align: center !important;
    width: 80% !important;
    margin-left: 10% !important;
    border-radius: 10px !important;
}